.text-field {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 0.333333em 1em 0.333333em 1em; /* Adjust padding as needed */
    -fx-highlight-fill: transparent; /* Removes background color */
    -fx-text-fill: #C2C7D0;
    -fx-highlight-text-fill: -fx-text-inner-color; /* Keeps text color */
}

.auth-box {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #313131;
}

.sign-up-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #6BA000;
}

.sign-up-buttonL:hover {
    -fx-cursor: hand;
    -fx-text-fill: #81b214;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.root-pane {
    -fx-background-image: url("../../Assets/Images/Background.jpg");
    -fx-background-size: cover;
}

.unlock-button {
    -fx-background-color: #a3e635;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

.unlock-button:hover {
    -fx-background-color: #a7d64e;
    -fx-cursor: hand;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
}

.forgot-password {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #C2C7D0;
}