* {
    -fx-Matcha-Green: #a3e635;
    -fx-Background: #111318;
    -fx-Surface: #1d2024;
}

.green-text {-fx-text-fill: #a3e635;}
.grey-text {-fx-text-fill: #c2c7d0;}
.white-text {-fx-text-fill: white;}

.side-bar {
    -fx-background-color: -fx-Surface ;
}

.side-bar-button {
    --border-color: transparent;
    -fx-background-color: transparent;
    -fx-font: Semibold 20px "Segoe UI";
    -fx-text-fill: #C2C7D0;
}

.side-bar-button-selected {
    -fx-background-color: #4b631e;
    -fx-text-fill: #a3e635;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.side-bar-button:hover {
    -fx-background-color: #454545;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.root-pane {
    -fx-background-color:-fx-Background ;
    -fx-padding: 40;
    -fx-spacing: 25;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-background-insets: 0;
}

.notes-area {
    -fx-background-color: -fx-Background; /* Darker grey from your design */
    -fx-text-fill: white;
    -fx-border-color: #272727;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

.notes-area .viewport {
    -fx-background-color: transparent;
}

.notes-area .content {
    -fx-background-color: transparent;
}

.notes-area .text {
    -fx-fill: #8a8d91; /* Muted text color for notes */
}

.textfield {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -fx-Background;
    -fx-border-color: #272727;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-text-fill: #404040;
    -fx-padding: 10;
    -fx-font: Semibold 16px "Segoe UI";
}

.password-container-buttons {
    -fx-text-fill: #8a8d91;
    -fx-font: Semibold 16px "Segoe UI";
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.password-container-buttons:hover {
    -fx-text-fill: #a3e635;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.password-field {
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -fx-Background;
    -fx-border-color: #272727;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-text-fill: #a3e635 ;
    -fx-font: Semibold 16px "Segoe UI";
}

.password-container {
    -fx-background-color: -fx-Surface;
    -fx-background-radius: 10;
    -fx-padding: 30;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgb(255 255 255), 10, 0, 0, 0);
}

.strength-indicator .bar {
    -fx-background-color: #a3e635;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.strength-indicator .track {
    -fx-background-color: #6BA000;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.settings-container {
    -fx-background-color: -fx-Surface  ;
}

.password-length-text {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #a3e635;
}

.password-length-slider {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #8a8d91;
    -fx-font: Semibold 16px "Segoe UI";
}

.password-length-slider .thumb {
    -fx-background-color: #a3e635;
}

.password-length-slider .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-accent: #a3e635;
}

.separator {
    -fx-background-color: #24282c;
}

.information-container {
    -fx-border-color: #a3e635;
    -fx-background-color: #293526;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.main-button {
    -fx-background-color: #a3e635;
    -fx-background-radius: 25;
}

.main-button Label {
    -fx-text-fill: black;
}

.main-button:hover {
    -fx-background-color: #b4f13b;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-text-fill: black;
    -fx-border-color: #a3e635;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-border-color: #a3e635;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

.secondary-button Label {
    -fx-text-fill: #a3e635;
}

.secondary-button:hover {
    -fx-background-color: -fx-surface;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-text-fill: black;
    -fx-border-color: #a3e635;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}