.reset-button {
    -fx-background-color: #b51a1a;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-text-fill: white;
}

.box {
    -fx-background-color: grey;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: white;
}

.cancel-button {
    -fx-background-color: clear;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-text-fill: white;
}

.border-pane {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #313131;
}

.root-pane {
    -fx-background-image: url("../../Assets/Images/Background.jpg");
    -fx-background-size: cover;
}
