.progress-bar .bar {
    -fx-background-color: #6BA000;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.progress-bar .track {
    -fx-background-color: #578400;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.text-field {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 0.333333em 1em 0.333333em 1em; /* Adjust padding as needed */
    -fx-highlight-fill: transparent; /* Removes background color */
    -fx-text-fill: #C2C7D0;
    -fx-highlight-text-fill: -fx-text-inner-color; /* Keeps text color */
}

.auth-box {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #313131;
}

.sing-up-button {
    -fx-background-color: clear;
    -fx-border-color: clear;
    -fx-text-fill: #6BA000;
}

.root-pane {
    -fx-background-image: url("../../Assets/Images/sign_up_backgorund.jpg");
    -fx-background-size: cover;
}

.unlock-button {
    -fx-background-color: #a3e635;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

.forgot-password {
    -fx-background-color: clear;
    -fx-border-color: clear;
    -fx-text-fill: #C2C7D0;
}
